 
 html{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 /* ----------------------decendant selector or combinator--------------- */
 header h1{
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 200;
     display: flex;
     margin: 2rem 2rem 1rem 3rem;
 }
header {
    display: flex;
    justify-content: space-between;
    margin: 0 6rem 0 3rem ;
}

nav {
    position: relative;
    top: 1rem;
    width: 25rem ;
}

ul{
   
    display: flex;
    justify-content: space-between;
}

  li{
      list-style: none;
      font-size: 1.5rem;
  }


/* -------------------class----------------------- */
  .showcase_image{
      width: 95vw;
      margin: 1rem;

  }

   article{
       display: flex;
       margin: 1.5rem;
   
   }

   /* -------------------class----------------------- */
  .container{
      text-align: center;
      margin: 2rem;
      font-size: 1.5rem;
      padding: 1rem;
  }                        

h2{
    font-weight: 400;
}

footer{
    font-size: 1.5rem;
    background-color: black;
    color: white;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}
/* -----------------------Hover ----------------------- */
a:hover{
    font-size: 1.8rem;
    color:red;
}